* {
  padding: 0;
  margin: 0;
} 

body { 
  font: .8em "Trebuchet MS", Verdana, Arial, Sans-Serif;  
  background-color: #000;
}


a {
  text-decoration: none;
  color: #3B85CA;
}
a:hover { color: #000; }

#wrap 
{
  margin: 20px auto;
  width: 700px;
  padding: 10px;
  background-color: #fff;
}


#header 
{
  height : 90px;
  background-color : #000;
}
#header h1 { padding-left: 10px; padding-top: 12px; font-size: 25px; color: #FFF; }
#header h1 a { font-size: 25px; color: #FFF; text-decoration: none;}
#header h2 { padding-left: 10px; padding-top: 0px; font-size: 19px; color: #FFE51E; }

#sessioninfo {
    padding-right: 10px;
    color: #C0C0C0;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

#sessioninfo a {
    color: #C0C0C0;
}

#sessioninfo a:hover {
    color: #FFF;
}

#menu {
  text-align: center;
  margin-top: 10px;
  font-size : 18px;
  font-weight: 600;
  border: 1px solid #ccc; 
  background: #eee;
}

#menu a {
  color : #3B85CA;
  text-decoration : none;
  padding: 10px;
}
#menu a:hover {
  color : #000;
}


#content { 
  text-align: left;
  margin-top: 5px;
  padding: 10px;
  font-size: 14px;
}
#content h2 { font-size: 15px; color : #444; }

#content .huge {
  font-size: 40px;
  font-weight: bold;
}


li.error {
  font: bold 15px Arial;
  list-style-type: none;
  color: red;
}

li.info {
  font: bold 20px Arial;
  list-style-type: none;
  color: black;
}


#footer { 
  margin-top: 25px; 
  clear: both;
  text-align: center; 
  color: #777; 
}

#content .massive {
  font-weight: bold;
  font-size: 52px;
  text-align: center; 
}

#content .fat {
  font-size: 30px;
}

#content .right {
  text-align: right;
  padding: 0 175px;
}

#content label {
  font-weight: bold;
}

#content div.main {
  float: left;
}

#content div.info {
  padding: 30px 0px 0px 0px;
  float: right;
}

#statustable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	//margin: 45px;
	//width: 480px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #FFF;
}

#statustable th
{
	padding: 12px 17px 12px 17px;
	font-weight: bold;
    font-size: 30px;
    color: #000;
	border-bottom: 1px dashed #000;
}

#statustable td
{
    font-size: 30px;
	padding: 7px 17px 7px 17px;
	color: #000;
}

#statustable tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}
