{% extends "base.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('auth.user_edit') }}">
    <table>
        <tr>
            <th>Update Password: </th>
            <td>{{ form.change_password  }}</td>
        </tr>
        <tr class="change_password">
            <th>New Password: </th>
            <td>{{ form.password }}</td>
            <td>{{ form.verify_password }}</td>
        </tr>
        <tr/>
        <tr>
            <th>Update Email: </th>
            <td>{{ form.change_email }}</td>
        </tr>
        <tr class="change_email">
            <th>New Email: </th>
            <td>{{ form.email }}</td>
        </tr>
        <tr/>
        <tr>
            <th>Regenerate API tokens: </th>
            <td>{{ form.regenerate }}</td>
        </tr>
    </table>
    <input type="submit" name="submit" value="Save" />
    <a href="{{ url_for('auth.user_account') }}"><input type="button" name="cancel" value="Cancel" /></a>
</form>

<script type=text/javascript>
    $('input[type="checkbox"]').each(function() {
        $('tr[class="' + this.name + '"]').hide();
    })
</script>

<script type=text/javascript>
    $('input[type="checkbox"]').change(function() {
        var name = 'tr[class="' + this.name + '"]';
        if (this.checked) {
            $(name).show();
        } else {
            $(name).hide();
        }
    });
</script>

{% endblock %}
