{% extends "base.html" %}

{% block title %}register{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('.register_user') }}">
    <table>
            {% for fieldname in ['username', 'password', 'verify_password', 'email'] %}
            <tr>
                {% set field = form._fields[fieldname]%}
                <th>{{ field.label }}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
    </table>
    <br>
    <p>{{ form.recaptcha }}</p>
    <br>
    <input type="submit" value="Register" />
</form>
{% endblock %}
