{% extends "evd_base.html" %}

{% block title %}Client{% endblock %}

{% block content %}
<h1>Victims Clients</h1>
<h3>Stable Clients</h3>
<p>
The following stable clients are available to consume the victims database.
</p>
<table class="table table-hover" id="clienttable-stable">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Site</th>
            <th>Documentation</th>
            <th>Status</th>
        </tr>
    </thead>
    <tr>
        <td>Maven Enforcer Plugin</td>
        <td><a href="https://github.com/victims/victims-enforcer" target="_blank">github</a></td>
        <td>
            <a href="https://github.com/victims/victims-enforcer/blob/master/README.md">usage instructions</a>
            <br>
            <a href="https://github.com/victims/victims-enforcer/tree/master/sample" target="_blank">sample app</a>
        </td>
        <td>
            <span class="label label-success">
                <i class="glyphicon glyphicon-ok-circle"></i>
                stable
            </span>
        </td>
    </tr>
    <tr>
        <td>Ant / Ivy Plugin</td>
        <td><a href="https://github.com/victims/victims-plugin-ant" target="_blank">github</a></td>
        <td><a href="https://github.com/victims/victims-doc/blob/master/victims-plugin-ant/Ant_Task_User_Guide/Victi.ms--Ant_Task_User_Guide-en-US.pdf" target="_blank">draft user guide</a></td>
        <td>
            <span class="label label-success">
                <i class="glyphicon glyphicon-ok-circle"></i>
                stable
            </span>
        </td>
    </tr>
</table>
<h3>Other Clients</h3>
<p>
The following clients are a work in progress, that generally function, but are not intended for production use yet.
</p>
<table class="table table-hover" id="clienttable-wip">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Site</th>
            <th>Documentation</th>
            <th>Status</th>
        </tr>
    </thead>
    <tr>
        <td>Java Standalone Client</td>
        <td><a href="https://github.com/victims/victims-client-java" target="_blank">github</a></td>
        <td>none</td>
        <td>
            <span class="label label-warning">
                <i class="glyphicon glyphicon-warning-sign"></i>
                unstable
            </span>
        </td>
    </tr>
    <tr>
        <td>Jenkins Plugin</td>
        <td><a href="https://github.com/victims/victims-plugin-jenkins" target="_blank">github</a></td>
        <td><a href="https://github.com/victims/victims-doc/blob/master/victims-plugin-jenkins/Jenkins_Plugin_User_Guide/Victi.ms--Jenkins_Plugin_User_Guide-en-US.pdf" target="_blank">draft user guide</a></td>
        <td>
            <span class="label label-warning">
                <i class="glyphicon glyphicon-warning-sign"></i>
                unstable
            </span>
        </td>
    </tr>
    <tr>
        <td>Eclipse Plugin</td>
        <td><a href="https://github.com/victims/victims-plugin-eclipse" target="_blank">github</a></td>
        <td><a href="https://github.com/victims/victims-doc/blob/master/victims-plugin-eclipse/Eclipse_Plugin_User_Guide/Victi.ms--Eclipse_Plugin_User_Guide-en-US.pdf" target="_blank">draft user guide</a></td>
        <td>
            <span class="label label-warning">
                <i class="glyphicon glyphicon-warning-sign"></i>
                unstable
            </span>
        </td>
    </tr>
</table>
{% endblock %}
