{% extends "evd_base.html" %}

{% block title %}Hashes{% endblock %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name-Version</th>
            <th>SHA512 Hash</th>
        </tr>
    </thead>
    {% for hash in hashes %}
    <tr>
        <td>{{ hash.name }}-{{ hash.version }}</td>
        <td><a href="{{ url_for('.onehash', value=hash.hashes.sha512.combined) }}">{{ hash.hashes.sha512.combined[0:7] }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
