{% extends "base.html" %}

{% block content %}
<div class="main">
    <table id="statustable">
        <thead>
            <tr>
                <th>Group</th>
                <th>Hashes</th>
                <th>Submitted</th>
                <th>Pending</th>
            </tr>
        </thead>
        {% for group in groups %}
        <tr>
            <td>{{ group.title() }}</td>
            <td><a href="{{ url_for('.hashes', group=group) }}">{{ stats[group]['hashes']}}</a></td>
            <td>{{ stats[group]['submitted']}}</td>
            <td>{{ stats[group]['pending']}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
