{% extends "base.html" %}

{% block title %}{{ hash.name }}-{{ hash.version }}{% endblock %}

{% block content %}
<div class="main">
  <table>
    <tr>
      <th><label>Name</label></th>
      <td>{{ hash.name }}</td>
    </tr>
    <tr>
      <th><label>Version</label></th>
      <td>{{ hash.version }}</td>
    </tr>
    <tr>
      <th><label>Vendor</label></th>
      <td>{{ hash.vendor }}</a></td>
    </tr>
    <tr>
      <th><label>Format</label></th>
      <td>{{ hash.format }}</td>
    </tr>
    {% for alg in hash.hashes.keys() %}
    <tr>
      <th><label>{{ alg.upper() }}</label></th>
      <td>{{ hash.hashes[alg].combined }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th><label>Submitter</label></th>
      <td>{{ hash.submitter }}</td>
    </tr>
    <tr>
      <th><label>Status</label></th>
      <td>{{ hash.status }}</td>
    </tr>
  </table>
</div>
{% if hash.cves %}
<div class="info">
  <ul>
    <lh><label class="bold">CVEs</label></lh>
  {% for cve in hash.cves %}
    <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ cve['id'] }}" target="_blank">{{ cve['id'] }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
