{% extends "base.html" %}

{% block content %}

<form method="POST" enctype="multipart/form-data" action="{{ url_for('ui.submit_archive') }}" >
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <th>{{ form.cves.label }}</th>
            <td>{{ form.cves }}<td>
        </tr>
        <tr>
            <th>{{ form.archive.label }}</th>
            <td>{{ form.archive }}<td>
        </tr>
        <tr>
            <th>{{ form.group.label }}</th>
            <td>{{ form.group }}<td>
        </tr>
        {% for field in form._fields %}
            {% set group = field.split('_',1)[0] %}
            {% if group in groups %}
                {% set f = form._fields[field] %}
        <tr class="{{ group }}" style="display: none;">
            <th>{{ f.label }}</th>
            <td>{{ f }}</td>
        </tr>
            {% endif %}
        {% endfor%}
    </table>
    <input type="submit" value="submit">
</form>

<script type=text/javascript>
    $('select').change(function() {
            var group = "";
            $('option').each(function() {
                group = '.' + $(this).text();
                $(group).hide();
                });
            group = '.' + $('select option:selected').text();
            $(group).show();
            })
</script>


{% endblock %}
