{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<form class="form form-vertical" method="POST" enctype="multipart/form-data" action="{{ url_for('ui.submit_archive') }}" >
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.cves) }}
    {{ wtf.form_field(form.archive) }}
    {{ wtf.form_field(form.group) }}

    {% for field in form._fields %}
    {% set group = field.split('_',1)[0] %}
    {% if group in groups %}
    {% set f = form._fields[field] %}
    <div class="{{ group }}" style="display: none;">
        {{ wtf.form_field(f) }}
    </div>
    {% endif %}
    {% endfor%}
    <div class="container" align="right">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>
{% endblock %}

{% block tail %}
{{ super() }}
<script type=text/javascript>
    $('select').change(function() {
            var group = "";
            $('option').each(function() {
                group = '.' + $(this).text();
                $(group).hide();
                });
            group = '.' + $('select option:selected').text();
            $(group).show();
            })
</script>
{% endblock tail %}
